doctype html
html(lang="en")
  head
    title= "This is the title"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//localhost:35729/livereload.js')
  body
    h1 The Scraper